<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.share.locker.dao.ItemDao">

	<parameterMap type="com.share.locker.bo.ItemBO" id="ItemParamMap"></parameterMap>
	<parameterMap type="com.share.locker.bo.ItemImgBO" id="ItemImgParamMap"></parameterMap>

	<!-- bo对象和table字段对应 -->
	<resultMap id="BaseResultMap" type="com.share.locker.bo.ItemBO">
		<result column="item_id" property="itemId" />
		<result column="user_id" property="userId" />
		<result column="title" property="title" />
		<result column="price_time_unit" property="priceTimeUnit" />
		<result column="price_time" property="priceTime" />
		<result column="price" property="price" />
		<result column="deposit" property="deposit" />
		<result column="locker_size_code" property="lockerSizeCode" />
		<result column="locker_id" property="lockerId" />
		<result column="publish_status" property="publishStatus" />
		<result column="description" property="description" />
		<result column="create_time" property="createTime" />
		<result column="edit_time" property="editTime" />
		<result column="editor" property="editor" />
		<result column="status" property="status" />
	</resultMap>

	<!-- ItemImgBo对象和table字段对应 -->
	<resultMap id="ItemImgResultMap" type="com.share.locker.bo.ItemImgBO">
		<result column="id" property="id" />
		<result column="item_id" property="itemId" />
		<result column="img_size_code" property="imgSizeCode" />
		<result column="url" property="url" />
		<result column="create_time" property="createTime" />
		<result column="edit_time" property="editTime" />
		<result column="editor" property="editor" />
		<result column="status" property="status" />
	</resultMap>

	<!-- TODO MOCK -->
	<select id="selectItemTop10" parameterType="java.util.List" resultMap="BaseResultMap">
		select * from shr_item
		where status in
		<foreach collection="list" index="index" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
		order by item_id desc
		limit 10
	</select>


	<!-- 查询单条记录 -->
	<select id="selectItemById" parameterType="long" resultMap="BaseResultMap">
		select * from shr_item
		where item_id = #{itemId}
	</select>

	<!-- 发布宝贝 -->
	<insert id="saveItem" parameterMap="ItemParamMap" useGeneratedKeys="true">
		<selectKey resultType="long" keyProperty="itemId" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		INSERT INTO shr_item (user_id, title, price_time_unit, price_time,
			price, deposit, locker_size_code,locker_id, publish_status, description,create_time,edit_time, editor, status)
		VALUES (#{userId}, #{title}, #{priceTimeUnit}, #{priceTime}, #{price},
			#{deposit}, #{lockerSizeCode}, #{lockerId},#{publishStatus},#{description}, now(), now(), #{editor}, #{status})
	</insert>

	<!-- 保存宝贝的图片URL -->
	<insert id="saveItemImg" parameterType="java.util.List" useGeneratedKeys="true">
		<selectKey resultType="long" keyProperty="id" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		INSERT INTO shr_item_img (item_id, img_size_code, url, create_time,
		edit_time, editor, status)
		values
		<foreach collection="list" item="itemImg" index="index" separator=",">
			(#{itemImg.itemId}, #{itemImg.imgSizeCode}, #{itemImg.url},now(), now(),
			#{itemImg.editor}, #{itemImg.status})
		</foreach>
	</insert>

	<!-- 根据userId查询宝贝 -->
	<select id="getItemByUserId" parameterType="map" resultMap="BaseResultMap">
		select * from shr_item
		where user_id = #{userId}
		and status in
		<foreach collection="statusList" index="index" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
	</select>

	<!-- 根据宝贝id查询imgList -->
	<select id="getImgByItemIdList" parameterType="map" resultMap="ItemImgResultMap">
		select * from shr_item_img
		where item_id in
		<foreach collection="itemIdList" index="index" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
		and status in
		<foreach collection="statusList" index="index" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
		<if test="imgSizeCode != null">
			and img_size_code = #{imgSizeCode}
		</if>
	</select>
	
	<update id="updateItemStatus" parameterType="map">
		update shr_item 
		set status = #{status}
		where item_id = #{itemId} 
	</update> 


</mapper>
