<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.share.locker.dao.OrderDao">

	<parameterMap type="com.share.locker.bo.OrderBO" id="OrderParamMap"></parameterMap>
	
	<!-- bo对象和table字段对应 -->
	<resultMap id="BaseResultMap" type="com.share.locker.bo.OrderBO">
		<result column="order_id" property="orderId" />
		<result column="item_id" property="itemId" />
		<result column="owner_id" property="ownerId" />
		<result column="renter_id" property="renterId" />
		<result column="deposit" property="deposit" />
		<result column="title" property="title" />
		<result column="take_time" property="takeTime" />
		<result column="fee" property="fee" />
		<result column="return_locker_id" property="returnLockerId" />
		<result column="return_time" property="returnTime" />
		<result column="check_time" property="checkTime" />
		<result column="create_time" property="createTime" />
		<result column="edit_time" property="editTime" />
		<result column="editor" property="editor" />
		<result column="status" property="status" />
	</resultMap>
	
	<!-- 下单 -->
	<insert id="saveOrder" parameterMap="OrderParamMap" useGeneratedKeys="true">
		<selectKey resultType="long" keyProperty="orderId" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		INSERT INTO shr_order (item_id,owner_id,renter_id,deposit,title,take_time,fee,return_locker_id,return_time,
			check_time,create_time,edit_time, editor, status)
		VALUES (#{itemId}, #{ownerId}, #{renterId}, #{deposit}, #{title},
			#{takeTime}, #{fee}, #{returnLockerId},#{returnTime},#{checkTime}, now(), now(), #{editor}, #{status})
	</insert>
	
	<!-- 查询单条记录 -->
	<select id="getOrderById" parameterType="map" resultMap="BaseResultMap">
		select * from shr_item
		where item_id = #{orderId} and status=#{status}
	</select>
	
</mapper>
